/* WEBSITE WIDE */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Bebas Neue', cursive; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Noto Sans KR', sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Ubuntu', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* background: #F7FFF7; */
  background: #F5F3F5;
  /* background: #D5FFD9; */
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

/* -------------------------- */
/*      LANDING SECTION       */
/* -------------------------- */

.landing-wrapper {
  width: 100vw;
  height: 100vh;
  /* border: green 2px dashed; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url('https://i.imgur.com/s5JA3t5.jpg'); */
  /* background-image: url('https://i.imgur.com/R7VTM3w.jpg'); */
}
.landing-container {
  width: 80vw;
  height: 80vh;
  /* border: 2px red dashed; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
}

.arrow-wrapper > a > .arrow {
  height: 50px;
  width: 50px;
  border-bottom: 8px solid black;
  border-right: 8px solid black;
  /* background: red; */
  transform: rotate(45deg);
  position: relative;
  top: 1vh;
  /* transform: translate(200px); */
  cursor: pointer;
  background: none;
}

.grow { 
  transition: all .2s ease-in-out; 
  /* transform: rotate(45deg); */
  background: none;
}
.grow:hover { 
  transform: scale(1.1); 
}


.landing-h1 {
  font-size: 800%;
  transform: translateX(-70px);
  /* color: #292F36; */
  /* border: 1px blue solid; */
  background: none;
}

.landing-line {
  height: 3px;
  /* width: 200px; */
  width: 700px;
  /* background: #292F36; */
  display: flex;
  justify-content: flex-start;
  background: none;
}

.landing-line > div {
  background: #DD1C1A;
  width: 0%;
  height: 100%;

}

.landing-h3-wrapper {
  height: 5vh;
  background: none;
}

.landing-h3 {
  margin-top: 20px;
  font-size: 200%;
  /* color: #333533; */
  color: #DD1C1A;
  transform: translateX(230px);
  /* border: 1px blue solid; */
}

.landing-text-wrapper {
  margin-top: 10vh;
  height: 10vh;
  background: none;
}

.divider {
  height: 3px;
  width: 100vw;
  /* background: #292F36; */
  display: flex;
  justify-content: center;
}

.line {
  height: 3px;
  /* width: 90vw; */
  width: 100vw;
  background: #292F36;
}

.landing-container > p {
  margin-top: 5%;
  margin-bottom: 5%;
}

.landing-links {
  /* border: red 1px solid; */
  height: 10vh;
  width: 20%;
  display: flex;
  justify-content: space-between;
  background: none;
}

.landing-links > a {
  text-decoration: none;
  color: black;
  background: none;
}

.landing-links > a:hover {
  color: #DD1C1A;
}

.landing-links > a > i {
  font-size: 400%;
}

.arrow-wrapper-container {
  height: 10vh;
}

.arrow-wrapper {
  height: 100%;
  /* width: 100%; */
  /* background: red; */
}

/* -------------------------- */
/*       ABOUT SECTION        */
/* -------------------------- */

.about {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-one {
  height: 100vh;
  width: 100vw;
  border: 2px red dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-one-text {
  height: 50%;
  width: 80%;
  border: red 1px solid;
}




/* JS CLASSES */
.fixed-title {
  position: fixed;
  top: 0;
  z-index: 1;
}
.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

.white {
  background: #F7FFF7;
}

.hidden {
  display: none;
}